body {
  background-color: black;
}

.task {
  position: relative;
  margin-top: 10px;
  border: solid #d47789;
  border-radius: 15px;
  width: fit-content;
  background-color: rgb(184, 180, 180);
  padding: 10px;
  text-align: justify;
}

.description {
  width: 500px;
}

.name {
  text-align: center;
  font-size: larger;
}

